*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#game {
       width: 1370px;
       height: 600px;
       border: 1px solid black;
}
#character{
    width: 60px;
    height: 100px;
    background-color:;
    position: relative;
    top: 300px;
    left: 350px;
}
.animate{
    animation: jump 500ms ;
}

@keyframes jump{
    0% {top: 300px;}
    30% {top: 200px;}
    70% {top: 200px;}
    100% {top: 300px;}
}

#block{
    width: 300px;
    
    background-color:;
    position: relative;
    top: 300px;
    left: 1370px;
    animation: block 1s infinite linear;
}

@keyframes block{
    0%{left: 1370px;}
    100%{left: -40px;}
}
p{
text-align: center;
top: 100px;
font-size: 30px;
}
#music